* {
    box-sizing: border-box;
}

.Post {
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 60px;
    padding-left: 5%;
    padding-right: 5%;
} 

.responsive {
    border: 1px solid #e6e6e6;
    float: left;
    width: 30%;
    margin: 1% 1%;
}

.Post-image-bg {
    background-color: #efefef;
}

.gallery img {
    display: block;
    width: 100%;
    height: auto;
}

.Post-caption {
    padding: 16px 16px;
}

.Post-caption strong {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

.vjs-fade-out {
    display: none;
    visibility: hidden;
    opacity: 0;
}

/*  Media  */
@media only screen and (max-width: 700px) {
    .responsive {
        width: 45%;
        margin: 2%;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 90%;
        margin: 5%;
    }
}


hr {
    width: 50px;
    margin-left: 0px;
}